*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /*background-color: #D4AC82*/
}

header{
    margin: 0px;
    padding: 0px;
    height: 120px;
    width: 1920px;
    background-color: #5a3720;
}

body{
    background-color: #D4AC82
}

.title{
    text-decoration: underline;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    color: beige;
}

.main ul{
    list-style-type: none;
    margin-top: -180px;
}

.main ul li{
    display: inline-block;
}

.main ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 8px 25px;
    border: 3px solid transparent;
    border-radius: 50px 50px 50px 50px;
    transition: 0.6s ease;
}

.main ul li a:hover{
    background-color: #5a3720;
    border: 3px solid transparent;
    color: beige;
}

.main ul li.active a{
    background-color: #5a3720;
    color: beige;
}

.main{
    max-width: 700px;
    margin: auto;

    font-size: 20px;

    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.info{
    padding: 3%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 48%;
    margin-bottom: 20px;

    background-color: #5a3720;
}*/
.title1{
    text-decoration: underline;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

.pic{
    padding: 238px;
    margin-top: -65px;
    margin-left: 67%;
    margin-right: 7%;
    margin-bottom: 20px;

    background-color: #5a3720;
}

.profile{
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%,-50%);
    
    width: 350px;
    border-radius: 50%;
}

.space{
    color: #5a3720;
}

.text{
    padding: 50px;
    margin-top: -495px;
    margin-left: 7%;
    margin-right: 48%;
    margin-bottom: 20px;

    background-color: #5a3720;

    font-weight: bold;
    color: #000;

    font-size: 23px;


}

.text span{
    font-weight: lighter;
    font-family: verdana;
    color: beige;
}

.tajuk1{
    text-decoration: underline;
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

.tajuk2{
    text-decoration: underline;
    position: absolute;
    top: 27%;
    right: 12%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

.table1 {
    position: absolute;
    top: 51%;
    left: 25%;
    transform: translate(-50%,-50%);

    height: 30%;
    width: 30%;

    border-collapse: collapse;
    margin: 30px 10;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
  
.table1 thead tr {
    background-color: #5a3720;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.table1 tbody tr {
    text-align: center;
}
  
.table1 th,
.table1 td{
    padding: 12px 15px;
}
  
.table1 tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.table1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.table2 {
    position: absolute;
    top: 57%;
    right: -10%;
    transform: translate(-50%,-50%);

    height: 30%;
    width: 30%;

    border-collapse: collapse;
    margin: 30px 10;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
  
.table2 thead tr {
    background-color: #5a3720;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.table2 tbody tr {
    text-align: center;
}
  
.table2 th,
.table2 td{
    padding: 12px 15px;
}
  
.table2 tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.table2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}




.gtitle{
    text-decoration: underline;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
}

.placement{
    padding: 25px;
    margin-top: -8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;

    background-color: #5a3720;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: none;
    overflow: auto;
    transform: translate(-50% -50%);
    text-decoration: whitesmoke;
    transition: 1s;
}

.gallery {
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 390px;
}

.desc {
    padding: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.gallery img {
    width: 80%;
    height: auto;
    transition: 1s;
}

.gallery img:hover {
    transform: scale(1.15);
    color: white;
}